<!DOCTYPE html>
<html lang="ro">

	<head>
		<title>Confirmare</title>
		<%- include("../fragmente/head") %>
	</head>
	<body class="container">
		<header>		
			<%- include('../fragmente/header') %>	
		</header>
		<main>
			<style>
				.confirmare-div {
					padding: 30px;
				}
			</style>
			
			<div class="confirmare-div">
				<h1>Stergere cont</h1>
				<p>Buna, <%= locals.username %> </p>
				<p>Ne pare rau ca ai parasit comunitatea "Floraria de colt".</p>
	
			</div>
		</main>
		
		
		<%- include("../fragmente/footer") %>
		
		
	</body>
</html>