<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="florarie, flori, plante"/>
        <meta name="description" content="Florarie online."/>
        <title>Floraria de colt</title>
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />

        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main id="main_cos">
        
        <button id="cumpara" class="btn btn-primary">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>