<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Floraria de colt</title>

        <!-- meta tags -->
        <meta name="keywords" content="istoric, galerie"/>
        <meta name="description" content="Florarie online."/>


        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

        <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">

        <%- include("../fragmente/head.ejs") %>
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>

        <main>
            <section id="despre">
                <h2>Despre noi</h2>

                <section id="istoric">
                    <h3>Istoric</h3>
                    <p>
                        am pornit la drum in 2002 cu un vis pe care il vom duce mai departe, abordand fiecare proiect cu delicatete si curaj.<br/>
                        in prezent, suntem o echipa de 50 de oameni care muncesc zilnic, iar <i>in doi timpi si trei miscari</i> suntem pregatiti sa ajutam la pregatirea cele mai frumoase surprize.<br/>
                        din dorinta de a fi mereu aproape de clientii nostri, am deschis magazine in mai multe locatii din Romania si continuam extinderea lantului de florarii.
                    </p>
                    <h4><i class="fa-solid fa-map-pin" style="color: #00004b;"></i> unde ne gasesti</h4>
                    <ul>
                        <li><a href="https://goo.gl/maps/s7KpUkP8i4s2Ypja8" target="_blank">Bucuresti</a></li>
                        <li><a href="https://goo.gl/maps/LziBMoZC3472qix16" target="_blank">Cluj</a></li>
                        <li><a href="https://goo.gl/maps/mpQ2tqHacKAz3FQ77" target="_blank">Oradea</a></li>
                        <li><a href="https://goo.gl/maps/rzQMbEzEVRDQrk1L6" target="_blank">Timisoara</a></li>
                    </ul>
    

                </section>

                <section id="galerie">
                    <h3>Galerie</h3>

                </section>
            </section>
            
        </main>

        <%- include("../fragmente/footer.ejs") %>

    </body>
</html>