.cos-virtual {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
}

.cos-virtual img{
    height: 120px;
    width: 120px;
}

#main_cos {
    display: flex;
    flex-direction: column;
    align-items: center;
}