#grid-galerie {
 display:grid;
 grid-template-columns: repeat(4,1fr);
 grid-row-gap:0.5em;
 grid-column-gap:0.5em;
 counter-reset: nrimag 0; /* nrimag=0 */
}

#grid-galerie img{
  width: 100%;
}

#grid-galerie figcaption{
  text-align:center;
  counter-increment: nrimag; /* nrimag+=1 */
}

#grid-galerie figcaption::before{
  content: counter(nrimag, lower-alpha) ". ";
}


/* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */
#grid-galerie figure:nth-child(1){
  grid-area: 1/1/2/2;
}

#grid-galerie figure:nth-child(2){
  grid-area: 1/2/1/3;
}

#grid-galerie figure:nth-child(3){
  grid-area: 1/3/2/4;
}

#grid-galerie figure:nth-child(4){
  grid-area: 1/4/2/5;
}

#grid-galerie figure:nth-child(5){
  grid-area: 2/4/3/5;
}

#grid-galerie figure:nth-child(6){
  grid-area: 3/4/3/5;
}

#grid-galerie figure:nth-child(7){
  grid-area: 3/3/3/4;
}

#grid-galerie figure:nth-child(8){
  grid-area: 3/2/3/3;
}

#grid-galerie figure:nth-child(9){
  grid-area: 3/1/3/2;
}

#grid-galerie figure:nth-child(10){
  grid-area: 2/1/3/2;
}


@media screen and (max-width: 1200px) and (min-width: 700px) {
  #grid-galerie {
      display:grid;
      grid-template-columns: repeat(2, 1fr);
  }

  #grid-galerie figure:nth-child(1){
    grid-area: 1/1/2/2;
  }
  
  #grid-galerie figure:nth-child(2){
    grid-area: 1/2/1/3;
  }
  
  #grid-galerie figure:nth-child(3){
    grid-area: 2/1/3/2;
  }
  
  #grid-galerie figure:nth-child(4){
    grid-area: 2/2/3/3;
  }
  
  #grid-galerie figure:nth-child(5){
    grid-area: 3/1/4/2;
  }

  #grid-galerie figure:nth-child(6){
    grid-area: 3/2/4/3;
  }

  #grid-galerie figure:nth-child(7){
    grid-area: 4/1/5/2;
  }

  #grid-galerie figure:nth-child(8){
    grid-area: 4/2/5/3;
  }

  #grid-galerie figure:nth-child(9){
    grid-area: 5/1/6/2;
  }
  
  #grid-galerie figure:nth-child(10){
    grid-area: 5/2/6/3;
  }
}

@media screen and (max-width:700px){
  #grid-galerie {
      display:block;
  }
}


.galerie-statica figcaption {
  background-color: transparent;
  color: var(--culoare5);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.galerie-statica:hover figcaption {
  background-color: var(--culoare8);
  color: var(--culoare3);
}

.galerie-statica img {
  transition: transform 1.25s;
}

.galerie-statica img:hover {
  transform: translateY(-15%) scale(1.3); 
}

.galerie-statica img:hover figcaption {
  background-color: var(--culoare8);
  color: var(--culoare3);
}