body {
    --margin-main: 3%;

    --culoare1: #ffffff;
    --culoare2: #ffa7cb;
    --culoare3: #af557d;
    --culoare4: #eccccf;
    --culoare5: #00004b;
    --culoare6: #2d3575;
    --culoare7: #9EB9D4;
    --culoare8: #F2C1D1;

    transition: font-size 0.3s ease-in-out;
}

body.dark{
    --culoare1: #04093c;
    --culoare2: #6b3e99; 
    --culoare3: #191970;
    --culoare4: #8b008b;
    --culoare5: #b088a3;
    --culoare6: #4b0082;
    --culoare7: #2f4f4f;
    --culoare8: #4682b4;

    
    background-color: #04093c;

    color: rgb(231, 210, 227);
}
.dark footer {
    background-color: #4682b4;
}
.dark #titlu {
    color: #b088a3;
}
.dark #transpus tbody tr:hover td, .dark #transpus tbody tr:hover td:hover{
    background-color: #04093c;
}


/* body.christmas {
    --culoare1: #bbe2c8;
    --culoare2: #35d835; 
    --culoare3: #fffefe;
    --culoare4: #FF0000;
    --culoare5: #800000;
    --culoare6: #006400;
    --culoare7: #c74141;
    --culoare8: #228B22;

    background-color: #bbe2c8;

    color: rgb(0, 0, 0);
}
.christmas footer {
    background-color: #C0C0C0;
}
.christmas #titlu {
    color: #FF0000;
}
.christmas #transpus tbody tr:hover td, .darchristmask #transpus tbody tr:hover td:hover{
    background-color: #bbe2c8;
} */


main {
    background-color: var(--culoare1);
    margin-left: var(--margin-main);
    margin-right: var(--margin-main);
}

footer {
    background-color: var(--culoare4);
}

#grid-pagina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "z-div1 z-div1 z-div1 z-div1"
                        "z-div5 z-div6 z-div6 z-div7"
                        "z-div3 z-div3 z-div2 z-div2"
                        "z-div4 z-div4 z-div2 z-div2"
                        "z-div8 z-div8 z-div8 z-div8";
}

#grid-pagina>* {
    border: 2px solid var(--culoare5);
    padding: 5px 20px;
}

#div1 {
    grid-area: z-div1;
}
#div2 {
    grid-area: z-div2;
}
#div3 {
    grid-area: z-div3;
}
#div4 {
    grid-area: z-div4;
}
#div5 {
    grid-area: z-div5;
}
#div6 {
    grid-area: z-div6;
}
#div7 {
    grid-area: z-div7;
}
#div8 {
    grid-area: z-div8;
}

/* media query for small screen */
@media screen and (max-width: 700px) {
    #grid-pagina {
        display: block; /* layout on a single column */
    }
    html {
        font-size: 12px;
    }
    * {
        animation: none;
    }
}


/* media query for medium screen */
@media screen and (max-width: 1200px) and (min-width: 700px) {
    #grid-pagina {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "z-div1 z-div1 z-div1"
                            "z-div5 z-div6 z-div7"
                            "z-div3 z-div3 z-div2"
                            "z-div4 z-div4 z-div2"
                            "z-div8 z-div8 z-div8";
    }
    html {
        font-size: 14px;
    }
    * {
        animation: none;
    }
}