#hamburger{
    display: block;
    height: var(--inaltime-meniu);

    /* bonus */
    cursor: pointer;
    transition: background-color 3s ease;
    /*  */
}

/* #hamburger img{
    height: 100%;
    width: auto;
} */


/* bonus */
.hamburger-container {
    width: 30px;
    height: var(--inaltime-meniu);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.hamburger-bar {
    width: 100%;
    height: 5px;
    background-color: black;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.1s ease;
}

/* bonus delay 300ms in sass */
.hamburger-container:hover .hamburger-bar:nth-child(1) {
    transform: rotate(45deg) translate(0, 14px);
    background-color: var(--culoare5);
} 
.hamburger-container:hover .hamburger-bar:nth-child(3) {
    transform: rotate(-45deg) translate(0, -14px);
    background-color: var(--culoare6);
}
.hamburger-container:hover .hamburger-bar:nth-child(2) {
    opacity: 0;
}
/*  */


ul.meniu {
    display: none;

    animation-name: animatie-hamburger;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#ch-menu:checked~ul.meniu {
    display: block;
}

ul.meniu li {
    width: 100% !important;
}

@keyframes animatie-hamburger {
    from {
        clip-path: circle(0% at top left);
    }
    to {
        clip-path: circle(125%);
    }
}

.fa-only {
    display: none;
}

/* hide bar 21 a */
ul.meniu li:last-child:hover::before, ul.meniu li:nth-last-child(2):hover::before {
    display: none;
}

/* hide 21 b */
ul.meniu ul {
    transform: none !important;
    transition: none !important;
}

ul.meniu li:hover>ul {
    display: block;
}

/* scrollbar */
.table-container {
    margin: 5px, 5px;
    padding: 5px;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* video-vtt etapa 3 */
.video-e3 {
    width: 100%;
    height: auto;
}