#titlu {
    font-family: 'Tektur', cursive;
    color: rgb(0, 0, 75);
}

a{
    color: black;
    text-decoration: none;
}

/* link-top */
#triunghi {
    display: inline-block;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--culoare5);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#link-top{
    position: fixed;
    bottom: 15px;
    right: 15px;    
    height: 20px;
    display: flex;
    align-items: center;
    width: min-content;
    border: 2px solid var(--culoare6);
    padding: 3px;
    border-top: none;
    border-bottom: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#link-top:hover {
    animation: animatie-paranteze 600ms linear 1 forwards;
}

#link-top:not(:hover) {
    animation: animatie-paranteze-off 600ms linear 1 forwards;
}

#triunghi:hover {
    animation: animatie-triunghi-on 600ms linear 1 forwards;
}

#triunghi:not(:hover) {
    animation: animatie-triunghi-off 600ms linear 1 forwards;
}

@keyframes animatie-triunghi-on {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }
}
 
 @keyframes animatie-triunghi-off {
    0% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }  
    100% {
        transform: translateY(0);
        opacity: 0.5;
    }  
} 

@keyframes animatie-paranteze {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animatie-paranteze-off {
    0% {
        opacity: 1;
    }  
    100% {
        opacity: 0.5;
    }  
} 

/* iframe */
.taburi-iframe a {
    display: block;
    width: 100px;
    height: 60px;
    border: 1px solid var(--culoare6);
    text-align: center;
    /* margin-right: 0; */
    border: 1.5px solid var(--culoare5);
    background-color: var(--culoare6);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 6px 1px 3px var(--culoare5) inset, 0 4px 2px -1px var(--culoare5);

    /* for links */
    text-decoration: none;
    color: #fff;
}

.taburi-iframe a p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin: 0;
}

.taburi-iframe a:nth-child(2) {
    margin-top: 5px;
}

.taburi-iframe a:hover {
    background-color: var(--culoare5);
    transition: background-color 1s;
}

.video-container {
    display: flex;
    padding: 0;
    margin: 2%;
}

iframe {
    border: 10px solid var(--culoare5);
}

/* etapa 3 */
/* video-vtt */
::cue {
    background: var(--culoare6);
    color: #fff;
}

/* etapa 4 */
#linie-despartitoare {
    position: static;
    height: 2px;
    background-color: var(--culoare6);
    width: 50vw;
    margin-left: 0;

    border-top-width: 4px;
    border-top-color: transparent;
    border-bottom-width: 4px;
    border-bottom-color: transparent;

    border-left-width: 15px;
    border-left-color: var(--culoare6);
    border-right-width: 15px;
    border-right-color: var(--culoare6);

    background-clip: content-box;

    opacity: 1 !important;
}

#istoric {
    margin-bottom: 50px;
}

#galerie {
    margin-top: 50px;
}

/* background */
#despre {
    background-image: url(/resurse/imagini/background-about.png);
    background-size: 190px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    background-position-x: left;

    animation-name: changeBackground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url(/resurse/imagini/background-about.png);
    }
    50% {
        background-image: url(/resurse/imagini/background-about2.png);
    }
    100% {
        background-image: url(/resurse/imagini/background-about.png);
    }
}


/* etapa 6 */
.tema-site, #rangeStyle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tema-site>div {
    margin-left: 5px;
} 

#inpMargin {
    margin-top: 30px;
    margin-bottom: 10px;
}



/* stilizare banner cookie */
#banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--culoare3);
    color: var(--culoare5);
    animation: animatie_cookie 3s linear forwards;
}

@keyframes animatie_cookie {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
    	opacity: 1;
        background-color: var(--culoare2);
        transform: translateY(-20px);
        color: var(--culoare3);
        
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#mesaj-cookies {
    margin-left: 10px;
}

#ok_cookies {
    margin-left: 10px;
    color: #00004b;
}
