
<footer>
    <div id="link-top" title="inapoi la inceputul paginii">
        <a href="#">
          <div id="triunghi"></div>
        </a>       
    </div>

    <address>
        <a href="tel:0765638481"><i class="fa-solid fa-phone" style="color: #00004b;"></i> telefon</a><br>
        <a href="https://goo.gl/maps/JGt6nTYdcbAHpokE8" target="_blank"><i class="fa-solid fa-location-dot" style="color: #00004b;"></i>  adresa</a><br>
        <a href="mailto:raluca_brinceanu@yahoo.com"><i class="fa-regular fa-envelope" style="color: #00004b;"></i> mail</a><br>
        <a href="https://wa.me/0765638481"><i class="fa-brands fa-whatsapp" style="color: #00004b;"></i> whatsapp</a>
    </address>
    <p id="banner"></p>
    <small class="copyright">
        copyright &copy; floraria de colt. <span id="date"></span>toate drepturile rezervate.
        <br>site creat la data de <time datetime="2023-06-21">21 iunie 2023.</time>
    </small>
</footer>