<header>
    <h1 id="titlu">floraria de colt</h1>

    <div class="tema-site">
        <div id="soare"><i class="bi bi-brightness-high-fill text-primary"></i></div></i>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
        </div>
        <div id="luna"><i class="bi bi-moon-stars-fill text-primary"></i></div>
    </div>

    <nav>
        <label id="hamburger" for="ch-menu">
            <!-- <img src="resurse/imagini/Hamburger_icon.png" alt="menu"> -->

            <!-- bonus etapa 2 -->
            <div class="hamburger-container">
                <div class="hamburger-bar"></div>
                <div class="hamburger-bar"></div>
                <div class="hamburger-bar"></div>
            </div>
            <!--  -->
        </label>
        <input id="ch-menu" type="checkbox">

        <ul class="meniu">
            <li><a href="/index"><i class="fa-sharp fa-solid fa-house"></i><span class="fa-only"> acasa</span></a>
                <ul>
                    <li>
                        <a href="/index#div1">bine ati venit</a>
                    </li>
                    <li>
                        <a href="/index#div2">tabel</a>
                    </li>
                    <li>
                        <a href="/index#div3">calendar</a>
                    </li>
                    <li>
                        <a href="/index#div4">anunturi</a>
                    </li>
                    <li>
                        <a href="/index#div5">utilizatori online</a>
                    </li>
                    <li>
                        <a href="/index#div6">statistici</a>
                    </li>
                    <li>
                        <a href="/index#div7">server</a> 
                    </li>
                    <li>
                        <a href="/index#div8">intrebari frecvente</a>
                    </li>
                </ul>
            </li>

            <li><a href="/despre">despre noi</a>
                <ul>
                    <li><a href="/despre#istoric">istoric</a></li>
                    <li><a href="/despre#galerie">galerie</a></li>
                </ul>
            </li>

            <li><a href="/produse">produse</a>
                <ul>
                    <% for (opt of locals.optiuniMeniu) { %>
                    <li><a href="<%- "/produse?tip=" + opt.unnest%>"> <%- opt.unnest%></a></li>
                    <% } %>
                </ul>
            </li>

            <li><a href="/inregistrare">inregistrare</a></li>

            <li><a href="/contact">contact</a></li>

            <!-- utilizator pe toate paginile -->
            <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
                <li><div>Administrare</div>
                    <ul>
                        <li><a href="/useri">Useri</a></li>
                        <li><a href="/grafice">Grafice</a></li>
                        <li><a href="/comenzi">Comenzi</a></li>
                    </ul>
                </li>
            <% } %>
            
            <% if(locals.utilizator) { %>
                <li><div title="<%= locals.utilizator.prenume + ' ' + locals.utilizator.nume %>"><%- locals.utilizator.username %></div>
                    <ul>
                        <li><a href="/profil"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="/cos-virtual"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                        <li><a href="/stergere_cont" title="Sterge cont"><i class="fa-solid fa-trash-can"></i></a></li>
                    </ul>
                </li>
            <% } %>
            
        </ul>
    </nav>
</header>